/*****fonts google*****/
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Ubuntu&display=swap');


/*Links etiqueta <a>*/
a:link{
    color: burlywood;
    background-color: transparent;
    text-decoration: none;
}

a:visited{
    color: rgb(170, 223, 253);
    background-color: transparent;
    text-decoration: none;
}

a:hover{
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active{
    color: rgb(224, 22, 157);
    background-color: transparent;
    text-decoration: underline;
}
/*End Links etiqueta <a>*/

body{
    background-image: url(img/overlay.jpg),linear-gradient(45deg, #6E436C 25%, #2A4584 75%);
    background-size: 256px, cover;
    background-position: center, center;
    background-repeat: no-repeat, repeat;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}

footer{
    color: rgba(255,255,255,0.3);
    margin: 8em 0 4em 0;
    padding: 0 2em;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
}

li{
    padding: .3em;
}

ul>li{
    list-style: none;
}

.description-one{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-two{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

.box{
    margin: 0 15px 12px 0;
}

h2{
    color: white;
    font-family: 'Ubuntu';
    font-size: 150%;
}

.text-one{
    font-size:480%;
    font-family: 'Anton';
    color: white;
    text-shadow: 4px 3px 0 #7A7A7A;
}

.text-two{
    text-align: center;
    font-size:large;
    margin: 35px;
}

.widthtwo{
    width: 45vw;
    color: white;
}

#content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}